*.swp
*~

002/static/bootstrap/
002/static/bootstrap*.zip
002/build/

006/phaser
006/hellophaser
006/phaser-examples
006/phaser.min.js
006/tutorials

# Python things
*.py[cod]
*.so

# Installer logs
pip-log.txt

