<!DOCTYPE html>
<html>
<head>
    <title>Time Lapse Progress Dashboard, by John Boyle</title>
    <meta name="description" content="A Dynamically Generated SVG Dashboard by John K. Boyle">
    <meta name="author" content="John K. Boyle">
    <style>
    body {
        background-color: whitesmoke;
        text-align: center;
    }
    .title {
      font-size: 3em;
      fill: black;
    }
    .indicator {
        font-size: 4em;
        fill: black;
        font-family: monospace;
        text-anchor: end;
    }
    .label {
        font-size: 0.3em;
        font-weight: normal;
        font-family: monospace;
    }
    img {
        margin: 0.5em;
    }
    </style>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>

<body>

<!--
MAIN DASHBOARD DISPLAY GRAPHIC
-->
<svg height="10em" width="40.5em">
  <!--
  Title
  -->
  <text x="2em" y="1.2em" class="title">
    Time Lapse Status
  </text>
  <line x1="0.5em" y1="4.5em" x2="100%" y2="4.5em" style="stroke:rgb(127,127,0);stroke-width:4" />
  <!--
  Number Display
  -->
  <text x="4.5em" y="2.5em" class="indicator">
    <tspan id="nimage">----</tspan><tspan class="label">IMAGES</tspan>
  </text>
  <text x="8.5em" y="2.5em" class="indicator">
    <tspan id="mb_used">----</tspan><tspan class="label">MB</tspan></text>
  <text x="12em" y="2.5em" class="indicator">
    <tspan id="percent_storage">--%</tspan><tspan class="label" dy="-1em">disk </tspan><tspan class="label" dy="1em" dx="-3em">use</tspan>
  </text>

  <line x1="0.5em" y1="9em" x2="100%" y2="9em" style="stroke:rgb(0,127,127);stroke-width:4" />

  Sorry, your browser does not support inline SVG.
</svg>

<br>
<img id="latest-image" src="/latest-image/" alt="Latest Time Lapse Image" />

<script>
// A named, immediately-invoked function expression
// from http://stackoverflow.com/a/5052661
(function worker() {
  $.ajax({
    url: "status/",
    dataType: "json",
    success: function(data) {
      $("#nimage").html(data.Nimage);
      $("#mb_used").html(data.mb_used);
      $("#percent_storage").html(data.percent_storage);

      var d = new Date();
      $("#latest-image").attr("src","latest-image?" + d.getTime());
    },
    complete: function() {
      // Schedule the next request when the current one completes
      setTimeout(worker, 5000);
    }
  });
})();
</script>
</body>
</html>
